html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


.notification {
    animation-direction:normal;
    text-align: center;
    background: rgb(253, 120, 10);
    width: 300px;
    padding: 1em;
    border-radius: 20px;
    font-size: 1.5em;
    position: relative;
    animation: myfirst 5s infinite;
  }

  @keyframes myfirst {
    0%   {background: rgb(253, 120, 10); left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: rgb(253, 120, 10); left: 200px; top: 400px;}
    75%  {background: yellow; left: 0px; top: 400px;}
    100% {background: rgb(253, 120, 10); left: 0px; top: 0px;}
  }