
/*Fonts:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Antique Soft', serif;
*/


/*Color Scheme
    #2D3340 - Dk.Grey
    #6B826D - Green
    #BF7C63 - Lt.Brown
    #FF9D87 - Lt.Salmon
    #CCCCCC - Lt.Grey
*/


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Utility Styles----------------- */
.container{
  width: 70vw;
  max-width: 900px;
  margin: 40px auto;
}






.img-center{
  display: block;
  margin: 30px auto;
}


/*from css-tricks' hacks*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/* ---------------Responsive Images----------------- */

img{
  max-width: 100%;
  height: auto;
}




/* ---------------Global Styles----------------- */

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background-color: rgba(107,130,109, .8);
    line-height: 1.4;
}
  

header.primary {
  background-color:#CCCCCC;
  text-align:center;
  color: #2D3340;
  padding: 20px;
}


header.primary h1{
  font-size: 2.8rem;
  margin: 20px 0;
}


header.primary h1 a{
  color: #2D3340;
  text-decoration: none;
}


header.primary h2{
  color: #2D3340;
  font-size: 2rem;
  /* Top | L/R | Bottom */
  margin: 20px auto 40px;
}


header.primary nav {
  width: 70vw;
  margin: 40px auto;
  max-width: 900px;
}


header.primary nav ul{
  display: flex;
  padding: 0;  /*remove padding from list styles*/
  justify-content: space-around;
}


header.primary nav ul li{
  list-style-type: none;  
}


header.primary nav ul li a:link, 
header.primary nav ul li a:visited{
  color: #f6f6f6;
  text-decoration: none;
  background-color: #2D3340;  
  /* background-color:rgba(); to customize opacity*/
  padding: 8px 16px;
  border-radius: 16px;
  transition: .5s;
}


header.primary nav ul li a:hover,
header.primary nav ul li a:active{
  border: 2px solid rgba(255,255,255);/*maybe change border only*/
  background-color: #6B826D;
}


#intro h2,
#additional-elements h2{
  color: #FF9D87;
  border-bottom: 1px solid #c0c0c0;
  text-shadow: 1px 1px #2D3340;
}


#intro p {
  line-height: 1.5;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: .9rem;
}


#content {
  display: flex;
  justify-content: space-between;
}


#content article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  padding:.4rem;
  font-size: .7rem;
  transition: .5s;
}


article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}


article.post figure{
  margin: 0;
}


.post-date, 
figcaption,
.post-meta
{
  text-transform: uppercase;
  color: #CCCCCC;
  font-weight: bold;
  text-shadow: .3px .5px #2D3340;
}


article.post a:link{
  color: #2D3340;
}


article a:hover, 
article a:active,
#additional-elements a:hover,
#additional-elements a:active{
  text-decoration: none;
}


#content {
  padding-bottom: 2.9rem;
}


/*---Additional Elements---*/

#additional-elements h3,
#additional-elements h4{
  color: #2D3340;
  margin-top: 50px;
}


#additional-elements ol{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


#additional-elements ol li{
  padding: .9rem;
}


#additional-elements ul{
  float: left;
  width: 70%;
}


 #additional-elements ul:nth-last-child(even){
 border: 1px solid #cccc;
}


#additional-elements ul li{
  padding: 1rem;
}


#additional-elements dl{
  float: right;
}


#additional-elements dt{
  background: grey;
}


#additional-elements dd {
  padding: 0;
  margin: 0;
}


#additional-elements h4{
  clear: both;
  padding-top: 3rem;
}


blockquote{
  border: 6px double #cccc;
  padding: .9rem;
  margin: 0 auto;
}




aside[role="complementary"]{
  background-color: #2D3340;
  color: #fff;
  padding: 1.8rem;
}


aside .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


aside article{
  width: 45%;
}


aside article a:link,
#additional-elements a:link{
  color: #ffff;
}


aside article:nth-child(2){
  width: 100%;
}

aside article:nth-child(1){
  background: #FF9D87;
  margin: 40px auto;
  padding: 4rem;
  width: 60%;
  color: #2D3340;
  background-color: rgba(255,157,135, .8);
  border-radius: 80px 4px;
}

aside article a{
  display: block;
  margin-top: 20px;
}


aside article footer{
  display: none;
}


table{
  width: 100%;
  border-collapse: collapse;
}


tr:nth-child(even){
  background: #2D3340;
  color: #cccc;
}


th{
  background: #2D3340;
  color: #cccc;
  padding: 8px;
}


td{
  border: 1px solid #ffff;
  padding: 4px;
  text-align: right;
  width:33.3%;
}


td:nth-child(3n+1){
  text-align: left;
}



#colophon{
  display: ;
  background-color: #CCCCCC;
  padding: 10px;
}

#colophon h6{
  margin: 0;
  text-align: center;
  color: #2D3340;
  font-size: .9rem;
}

@media screen and (max-width:757px){ 
  
  header.primary nav ul {
    flex-direction: column;
  }

  
  header.primary nav ul li {
    margin-bottom:25px;
  }
  

  header.primary nav ul li a{
    display:block;
  }
  


}






/*Every heading has default margin */

  
  
  
  
  
  
  
  
  
  
  
  
  



