

img{
    max-width:100%;
}

.carousel{
    margin:40px auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:500px;
}


.fade img{
    margin: auto;
    
}

.fade div {
    background: #000;
    width: 100%;
    height: auto;
}
/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: #FF6A0A;
}

.slick-prev {
    color: red;
    left: -30px;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}