/* Color Theme Swatches in Hex 
.Need-to-Feed-1-hex { color: #001AC2; } bright-blue
.Need-to-Feed-2-hex { color: #FF6A0A; } orange
.Need-to-Feed-3-hex { color: #08168F; } dark-blue
.Need-to-Feed-4-hex { color: #D9C196; } cream
.Need-to-Feed-5-hex { color: #BF0404; } red

Color Theme Swatches in RGBA 
.Need-to-Feed-1-rgba { color: rgba(0, 26, 194, 1); }
.Need-to-Feed-2-rgba { color: rgba(255, 106, 10, 1); }
.Need-to-Feed-3-rgba { color: rgba(8, 22, 143, 1); }
                     { color: rgba(6, 15, 94, 1);}
.Need-to-Feed-4-rgba { color: rgba(217, 193, 150, 1); }
.Need-to-Feed-5-rgba { color: rgba(191, 4, 4, 1); }

Color Theme Swatches in HSLA 
.Need-to-Feed-1-hsla { color: hsla(231, 100, 38, 1); }
.Need-to-Feed-2-hsla { color: hsla(23, 100, 51, 1); }
.Need-to-Feed-3-hsla { color: hsla(233, 89, 29, 1); }
.Need-to-Feed-4-hsla { color: hsla(38, 46, 71, 1); }
.Need-to-Feed-5-hsla { color: hsla(0, 95, 38, 1); }
*/
/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive;
*/

html {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* ---------------Utility Styles----------------- */
.container{
margin: 0 auto;
width: 100%;
}





li {
list-style: none;
}


a {
text-decoration: none;
}



#join,
.menu,
.wrap,
.founders{
  line-height: 0;
}


#join .post,
.menu ul,
.post{
  line-height: 1.4;
}

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

.video-container iframe, 
.video-container object, 
.video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 80%; 
}



/* ---------------Responsive Images----------------- */

img{
  max-width: 100%;
  height: auto;
}



/*---Mobile Design w/ Grid---*/

#header{
grid-area: header;
}


#intro{
grid-area: intro;
}


#join{
  grid-area: join;
  justify-items: center;
  padding: 2em 1em;
}


#about{
  grid-area: about;
}


#team{
  grid-area: team;
}


#success-stories{
grid-area: success-stories;
}


#story-1{
  grid-area: story-1;
}


#story-2{
  grid-area: story2;
}


#donors-volunteers{
grid-area: donors-volunteers;
}


#gratitudes{
  grid-area: gratitudes;
}


#sponsors{
  grid-area: sponsors;
}


#contact{
grid-area: contact;
}


footer{
grid-area: footer;
}



.grid{
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
  "header header"
  "intro intro"
  "success-stories success-stories"
  "donors-volunteers donors-volunteers"
  "contact contact"
  "footer footer"
  ;

}





/* ---Global Styles--- */
body {
font-family: 'Montserrat', sans-serif;
margin:0;
line-height: 1.4;
background-color: #FFFF;
}




.wrap{
  margin: 0 auto;
}



.post-header,
.post,
.founders{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#team .founders{
  margin-bottom: 45px;
}

.post p,
.founders {
  padding: 0 1em;
  justify-content: center;
} 



.donate-button {
  text-align: center;
}


 

h2,
h3{
font-family: 'Montserrat', sans-serif;
color: #FF6A0A;
text-align: center;
padding: 0 .2em;
}


h2{
  font-size: 2.5em;
  margin-top: 40px;
}



h3 {
  font-size: 1.5em;
  padding: 0;
  color: rgba(6, 15, 94, 1);
}


#about h2{
  margin-top: 0;
}


header.primary {
  height: 100%;
  line-height: 0;
  border-bottom: .5em solid rgba(6, 15, 94, 1);
}



.header-image img{
  width: 100%;
}

/*---Banner Design---*/
header .banner{
display:flex;
justify-content: flex-start;
align-items: center;
margin: 0 10px;
height: 50px;
}


.hamburger{
color: #BF0404;
text-shadow: .2px .4px #2D3340;
border:0;
font-size: 1.3em;
font-weight:bold;
cursor:pointer;
outline:none;
margin: 0;
}


.menu ul{
margin: 0 20px;
padding: 0;
}


/* The side navigation menu */
.menu {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: rgba(6, 15, 94, 0.8); /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.menu a:link, .menu a:visited{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #FFF;
display: block;
transition: .5s;
}


.menu a:hover, .menu a:active {
color: rgba(255, 106, 10, 1);
font-weight: 700;
}


/* Position and style the close button (top right corner) */
.menu .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}


header.primary h1 {
font-size: 1.3em;
color: #BF0404;
text-shadow: .5px .5px #2D3340;
margin: 0 30px;
padding: 0;
}




/*---End Banner---*/



#intro a:link, #intro a:visited,
#contact a:link, #contact a:visited{
color: #FF6A0A;
font-weight: 700;
padding: 1em;
background: rgba(6, 15, 94, 1);
border-radius: 16px;
margin-bottom: 40px;
font-size: 1.5em;
transition: .7s;
}


#intro a:hover, #intro a:active,
#contact a:hover, #contact a:active{
background: #FFF;
border: 2px solid #FF6A0A;
}


#join,
#story-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#join .post,
#story-2 .post{
  padding-bottom: 2em;
}


#join .side-image-2,
#story-2 .side-image{
  width: 100%;
}


#join img,
#story-2 img{
  width: 100%;
}


#join .side-image{
  display: none;
}

.donate-button {
text-align: center;
max-width: 300px;
}



#about .overlay{
  text-align: center;
  height: 300px;
  width: 100%;
   background-image: url("../img/volunteers-and-recipients.webp");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }


 #team .overlay{
  text-align: center;
  height: 300px;
  width: 100%;
   background-image: url("../img/volunteers.webp");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }


 
.founders{
  max-width: 1200px;
}


.founders figure{
  margin: 40px 0;
  width: 90%;
}



.founders img{
  width: 100%;
  border: 3px solid rgba(6, 15, 94, .8);
  border-bottom: 3px solid rgba(6, 15, 94, .8);
  background: rgba(6, 15, 94, .8);
}



figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  border: 3px solid rgba(6, 15, 94, 1);
  background: rgba(6, 15, 94, 1);
  color: #FFF;
  line-height: 1.2;
  height: 110px;
  }



 #success-stories{
   padding-bottom: 0;
 }

 

 #story-1 .side-image > *:not(:first-child){
   display: none;
 }



#gratitudes h2 {
font-family: 'Satisfy', cursive;
}


#donate .post,
#join {
  background:rgba(6, 15, 94, .8);
  color: #FFF;
}


footer{
text-align: center;
color: #FF6A0A;
font-size: 1.5em;
}


/*---Additional Elements---*/




.fixed-wrap{
position: fixed;
width: 100%;
height: 50px;
background-color: 	rgb(255,255,255, .8);
border: 0px;
box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
-webkit-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
-moz-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 20%);
z-index: 1;
}


.video-container{
  margin-top: 70px;
}


#join .post-header,
#contact .post-header,
#contact .post .p{
  padding: auto 1.5em;
  max-width: 80%;
  text-align: center;
}


.donate .post p{
  text-align: center;
  max-width: 900px;
}

.fade{
  margin-bottom: 20px;
}

#story-1 .post{
  margin: 0 auto;
}


#contact .post{
  margin: 0 auto;
  font-size: .8em;
  padding-bottom: 5em;
  color: #FFF;
}


.contact-form{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}


#contact{
  margin: 20px auto;
  width: 100%;
  border-top: 8px solid rgba(6, 15, 94, 1);;

}


#join h2,
#contact h2{
  font-size: 2em;
}



#story-2{
border-top: 8px solid rgba(6, 15, 94, 1);
border-right: 8px solid rgba(6, 15, 94, 1);
}

#story-1 h2,
#story-1 h3{
  margin: 10px auto;
}

#story-1 h3{
  margin-bottom: 20px;
}

#story-1 .side-image{
  padding: 2em 0;
  margin: 0;
}



blockquote{
  background:rgba(6, 15, 94, .9);
  border-radius: 16px;
  color: #FFF;
  padding: 2em;
  font-size: 1.2em;
  max-width: 900px;
  margin-bottom: 20px;
}



#gratitudes{
  background:rgba(6, 15, 94, .8);
}


/*---sponsors flex---*/



.sponsor-logos,
.platinum-sponsors,
.gold-sponsors,
.mobile-view,
.bronze-sponsors{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
}



.mobile-view,
.bronze-view{
justify-content: space-around;
}


.sponsor-logos figure{
  text-align: center;
}


.sponsor-logos p{
font-family: "Montserrat", sans-serif;
}


.platinum-sponsors{
  margin-bottom: 20px;
}



.gold-sponsors figure,
.silver-sponsors,
.bronze-sponsors{
display: none;
}

#about .post{
  margin: 30px auto;
}




@media only screen and (min-width: 643px) {


.fixed-wrap,
header .banner{
  height: 70px;
  font-size: 1.3em;
}

header .banner{
  margin: 0 20px;
  }

body p{
  font-size: 1.5em;
}


.post{
  padding: 6em auto;
}

.post p{
  padding: auto 1.5em;
}

#join h2,
#contact h2{
  font-size: 3em;
}



.mobile-view{
  display: none;
}



.gold-sponsors figure{
  display: block;
  margin: 40px auto;
}





h2,h3{
  font-size: 3em;
}



}


@media only screen and (min-width: 753px){
  .founders{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
  

   
  .founders figure{
    margin: auto 10px;
    width: auto;
  }
  

  .founders img{
    max-height: 500px;
   }
}

/*----Mini-Tablet----*/

@media only screen and (min-width: 800px) {

  blockquote{
  font-size: 1.7em;
}




#story-2{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .8em;
}


#join h2{
  font-size: 2.2em;
}


#story-2 .post{
  margin: auto 0;
  flex: 1 50%;
}




#story-2 .side-image{
  flex: 2 50%;
}


#about .post,
#story-1 .post{
  border-top: 8px solid rgba(6, 15, 94, 1);
  border-right: 8px solid rgba(6, 15, 94, 1);
  padding: 3em;
  max-width: 1200px;
}





#story-1 .side-image > :nth-child(-n+4){
  display: block;
}

#story-1 .side-image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#story-1 .side-image{
  margin: 0 auto;
}


#story-1 .image-wrap {
  width: 33%;
  padding: 3em 1em;
}



#story-1 .overlay{
  text-align: center;
  height: 500px;
  width: 100%;
   background-image: url("../img/wilbur-volunteering.jpg");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }

 


 #about .overlay,
 #team .overlay{
   height: 500px;
 }

}
/*---Tablet Design w/ Grid ---*/

@media only screen and (min-width: 1000px) {

header .banner{
margin: 0 60px;
}


  .post p{
    margin: auto 40px;
    padding: auto 3em;
} 



.founders figure{
  margin: auto 20px;
}




.gold-sponsors,
.platinum-sponsors{
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}


.platinum-sponsors,
.gold-sponsors{
  min-width: 692px;
  justify-content: space-between;
}


.sponsor-logos{
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}


.silver-sponsors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 5px;
  text-align: left;
  padding: 2em 4em;
}

#story-2{
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  margin: 60px auto;
  max-width: 1200px;
}


#story-2 .post{
  padding: 0;
  margin: 0 60px;
}


#story-2 img{
  width: 70%;
}

}

@media only screen and (min-width: 1400px){










   
}




}