/* Color Theme Swatches in Hex 
.Need-to-Feed-1-hex { color: #001AC2; } bright-blue
.Need-to-Feed-2-hex { color: #FF6A0A; } orange
.Need-to-Feed-3-hex { color: #08168F; } dark-blue
.Need-to-Feed-4-hex { color: #D9C196; } cream
.Need-to-Feed-5-hex { color: #BF0404; } red

Color Theme Swatches in RGBA 
.Need-to-Feed-1-rgba { color: rgba(0, 26, 194, 1); }
.Need-to-Feed-2-rgba { color: rgba(255, 106, 10, 1); }
.Need-to-Feed-3-rgba { color: rgba(8, 22, 143, 1); }
                     { color: rgba(6, 15, 94, 1);}
.Need-to-Feed-4-rgba { color: rgba(217, 193, 150, 1); }
.Need-to-Feed-5-rgba { color: rgba(191, 4, 4, 1); }

Color Theme Swatches in HSLA 
.Need-to-Feed-1-hsla { color: hsla(231, 100, 38, 1); }
.Need-to-Feed-2-hsla { color: hsla(23, 100, 51, 1); }
.Need-to-Feed-3-hsla { color: hsla(233, 89, 29, 1); }
.Need-to-Feed-4-hsla { color: hsla(38, 46, 71, 1); }
.Need-to-Feed-5-hsla { color: hsla(0, 95, 38, 1); }
*/
/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive;
*/

html {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* ---------------Utility Styles----------------- */
.container{
margin: 0 auto;
}



li {
list-style: none;
}


a {
text-decoration: none;
}



#join,
.menu,
.wrap{
  line-height: 0;
}


#join .post,
.menu ul,
.post{
  line-height: 1.4;
}

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.video-container iframe, 
.video-container object, 
.video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

/* ---------------Responsive Images----------------- */

img{
  max-width: 100%;
  height: auto;
}



/*---Mobile Design w/ Grid---*/

#header{
grid-area: header;
}


#intro{
grid-area: intro;
}


#join{
  grid-area: join;
  justify-items: center;
}


#about{
  grid-area: about;
}


#team{
  grid-area: team;
}


#success-stories{
grid-area: success-stories;
}


#story-1{
  grid-area: story-1;
}


#story-2{
  grid-area: story2;
}


#donors-volunteers{
grid-area: donors-volunteers;
}


#gratitudes{
  grid-area: gratitudes;
}


#sponsors{
  grid-area: sponsors;
}


#contact{
grid-area: contact;
}


footer{
grid-area: footer;
}



.grid{
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
  "header header"
  "intro intro"
  "success-stories success-stories"
  "donors-volunteers donors-volunteers"
  "contact contact"
  "footer footer"
  ;

}





/* ---Global Styles--- */
body {
font-family: 'Montserrat', sans-serif;
margin:0;
line-height: 1.4;
background-color: #FFFF;
}



.wrap{
  margin: 0 auto;
}



.post-header,
.post,
.founders{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.post p {
  padding: 0 1em 1em 1em;
  justify-content: center;
} 


.post{
  padding: 2em 0;
}


.donate-button {
  text-align: center;
}


 

h2,
h3{
font-family: 'Montserrat', sans-serif;
color: #FF6A0A;
text-align: center;
padding: 0 .2em;
}


h2{
  font-size: 2.5em;
  padding-top: .5em;
}



h3 {
  font-size: 1.5em;
  padding: 0;
  color: rgba(6, 15, 94, 1);
}




header.primary {
  height: 100%;
  line-height: 0;
  border-bottom: .5em solid rgba(6, 15, 94, 1);
}



.header-image img{
  width: 100%;
}

/*---Banner Design---*/
header .banner{
display:flex;
justify-content: flex-start;
align-items: baseline;
margin: 0 10px;
}


.hamburger{
color: #BF0404;
text-shadow: .2px .4px #2D3340;
border:0;
font-size: 1.3em;
font-weight:bold;
cursor:pointer;
outline:none;
margin: 0;

}


.menu ul{
margin: 0 20px;
padding: 0;
}


/* The side navigation menu */
.menu {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: rgba(6, 15, 94, 0.8); /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.menu a:link, .menu a:visited{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #FFF;
display: block;
transition: .5s;
}


.menu a:hover, .menu a:active {
color: rgba(255, 106, 10, 1);
font-weight: 700;
}


/* Position and style the close button (top right corner) */
.menu .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}


header.primary h1 a{
font-size: .6em;
color: #BF0404;
text-shadow: .5px .5px #2D3340;
margin: 0 30px;
}




/*---End Banner---*/



#intro a:link, #intro a:visited,
#contact a:link, #contact a:visited{
color: #FF6A0A;
font-weight: 700;
padding: 1em;
background: rgba(6, 15, 94, 1);
border-radius: 16px;
margin: 20px auto;
font-size: 1.5em;
transition: .5s;
}


#intro a:hover, #intro a:active,
#contact a:hover, #contact a:active{
background: rgba(6, 15, 94, .8);
}


#join,
#story-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#join .side-image-2,
#story-2 .side-image{
  width: 100%;
}


#join img,
#story-2 img{
  width: 100%;
}


#join .side-image{
  display: none;
}

.donate-button {
text-align: center;
}



#about .overlay{
  text-align: center;
  height: 500px;
  width: 100%;
   background-image: url("../img/volunteers-and-recipients.webp");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }


 #team .overlay{
  text-align: center;
  height: 500px;
  width: 100%;
   background-image: url("../img/volunteers.webp");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 }



.founders{
  margin: 60px auto;
}

 #success-stories{
   padding-bottom: 0;
 }

 

 #story-1 .side-image > *:not(:first-child){
   display: none;
 }

figcaption {
text-align: center;
font-size: 1.2em;
font-weight: 300;
font-family: "ABeeZee", sans-serif;
}


#gratitudes h2 {
font-family: 'Satisfy', cursive;
}

footer{
text-align: center;
color: #FF6A0A;
}



/*---Additional Elements---*/

.fixed-wrap{
position: fixed;
width: 100%;
height: 40px;
background-color: 	rgb(255,255,255, .8);
border: 0px;
border-bottom: 1px solid;
border-image: linear-gradient(to right, rgb(217, 193, 150), rgb(8, 22, 143), rgb(217, 193, 150));
border-image-slice: 3;
z-index: 1;
}


#join .post-header,
#contact .post-header{
  width: 80%;
}

#contact .post{
  max-width: 80%;
  margin: 0 auto;

}


#join h2,
#contact h2{
  font-size: 2em;
}


#story-2,
#contact{
  border-top: 8px solid rgba(6, 15, 94, 1);;
}


#story-1 .side-image{
  padding: 2em 0;
  margin: 0;
}


blockquote{
  background:rgba(6, 15, 94, .9);
  border-radius: 16px;
  color: #FFF;
  padding: 2em;
  max-width: 70%;
}


#gratitudes .post{
  margin-bottom: 80px;
}


/*---sponsors flex---*/
#sponsors{
  background: pink;
}

.sponsor-logos,
.platinum-sponsors,
.gold-sponsors,
.mobile-view,
.bronze-sponsors{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}


.mobile-view,
.bronze-view{
justify-content: space-around;
}


.sponsor-logos p{
padding: .5em;
font-family: "Montserrat", sans-serif;
}





.gold-sponsors figure,
.silver-sponsors,
.bronze-sponsors{
display: none;
}





@media only screen and (min-width: 643px) {


.fixed-wrap,
header .banner{
  height: 70px;
  font-size: 1.3em;
}

header .banner{
  margin: 0 20px;
  }

body p{
  font-size: 1.5em;
}


.post{
  padding: 6em auto;
}

#join h2,
#contact h2{
  font-size: 3em;
}


.mobile-view{
  display: none;
}



.gold-sponsors figure{
  display: flex;
}

h2,h3{
  font-size: 3em;
}



}



/*----Mini-Tablet----*/

@media only screen and (min-width: 800px) {

#join,
#story-2{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .8em;
}


#join h2{
  font-size: 2.2em;
}


#join .post,
#story-2 .post{
  margin: auto 0;
  flex: 1 50%;
}

#join .side-image-2,
#story-2 .side-image{
  flex: 2 50%;
}



#about .post,
#gratitudes .post{
  border-top: 8px solid rgba(6, 15, 94, 1);
  border-right: 8px solid rgba(6, 15, 94, 1);
  padding: 5em;
}





#story-1 .side-image > :nth-child(-n+4){
  display: block;
}

#story-1 .side-image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#story-1 .side-image{
  margin: 0 auto;
}


#story-1 .image-wrap {
  width: 33%;
  padding: 3em 1em;
}



#story-1 .overlay{
  text-align: center;
  height: 500px;
  width: 100%;
   background-image: url("../img/wilbur-volunteering.jpg");
 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 
 }



}
/*---Tablet Design w/ Grid ---*/

@media only screen and (min-width: 1000px) {

header .banner{
margin: 0 60px;
}


  .post{
    margin: 40px;
    padding: auto 3em;
} 





.founders{
  flex-direction: row;
  justify-content: space-around;
 }




#about .overlay,
#team .overlay,
#story-1 .overlay{
  height: 900px;
}



.silver-sponsors{
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: auto;
  text-align: center;
  max-width: 900px;
}


#story-2{
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  margin: 60px auto;
}


#story-2 .post{
  padding: 0;
  margin: 0 60px;
}



}

@media only screen and (min-width: 1400px){




   #gratitudes {
    max-width: 1200px;
   }

   
.post {
  max-width: 1200px;
  margin: 60px auto;
  background: 	rgb(255,255,255, .7);
}


.wrap{
  background-color: #FFF;
}



   
}


@media only screen and (min-width: 1500px){

  }

}