/*Fonts:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Antique Soft', serif;
*/


/*Color Scheme
    #2D3340 - Dk.Grey
    #6B826D - Green
    #BF7C63 - Lt.Brown
    #FF9D87 - Lt.Salmon
    #CCCCCC - Lt.Grey
*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* ---------------Responsive Images----------------- */

img {
  max-width: 100%;
  height: auto;
}



/* ---------------Global Styles----------------- */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #2D3340;
  line-height: 1.4;
  color: #CCCCCC;
  font-size: 1em;
}


main {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


section {
  max-width: 1200px;
  margin: 0 auto;
}


header.primary {
  height: 300px;
  width: 100%;
  margin: 0 0 60px 0;
  padding: 1em 0;
  background-color: #2d3340;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%236b826d' fill-opacity='0.28'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


header h1 {
  text-align: center;
  overflow-wrap: break-word;
  margin: 0;
}



.author {
  margin: 60px 0;
  padding: 0 1em;
}



.articles {
  background: #6b826d76;
  padding: 1.25em;
  border-radius: 16px;
}


article header {
  text-align: center;
}


section.intro{
  margin-bottom: 60px;
}


section.intro a:link, section.intro a:visited{
 color: #FF9D87;
 text-decoration: none;
}


section.intro a:hover, section.intro a:active{
  text-decoration: underline;
 }


.container {
  margin: 0 20px;
}


.articles h1:not(.post h1) {
  font-size: 2em;
}




article.post header {
  height: 50px;
  font-size: 1.25em;
}

.entry li span.course{
  margin-bottom: 20px;
}


/*-----GRID STYLE-----*/

.entry ul {
  display: grid;
  gap: 5vw;
  padding: 5vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin: 0 auto;
  overflow-wrap: break-word;
  justify-items: center;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.25em;
  padding: 0;
}



nav a {
  padding: 0.5em;
  margin: 0 20px;
}


.entry {
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4)
}

.entry li {
  border-radius: 2px;
  border: 1px solid #cccc;
  margin: 0 0 40px 0;
  width: 100%;
  height: 240px;
}



.entry a {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
  text-decoration: none;
  height: inherit;
  overflow: wrap;
  padding: 1em;
}


.entry li span.title {
  font-size: 1.3em;
  letter-spacing: -1px;
}


ul li a:link,
ul li a:visited {
  color: #f6f6f6;
  /* background-color:rgba(); to customize opacity*/
  transition: .5s;
  text-decoration: none;
}


ul li a:hover,
ul li a:active {
  border: 2px solid rgba(255, 255, 255);
  /*maybe change border only*/
  background-color: #6B826D;
}


.back-to-top {
  position: fixed;
  right: 0;
  text-align: center;
  height: 50px;
}

.back-to-top a {
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  padding: 1em;
  border-radius: 8px;
  transition: .5s;
}

/*
.back-to-top i{
  font-size: 1.5em;
}
*/

.back-to-top a:hover,
.back-to-top a:active {
  border: 2px solid rgba(255, 255, 255);
  /*maybe change border only*/
  background-color: #6B826D;
}

/*-----ADDITIONAL STYLES-----*/


@media screen and (min-width: 635px) {
  .entry ul {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }


  .entry a {
    justify-content: start;
    align-items: center;
  }


  .entry a span {
    width: 100%;
  }


  .entry li span.title {
    padding-top: 1em;
    font-size: 1.4em;

  }

  .entry li span.description {
    font-size: 1em;
    padding-top: 1em;
  }


}


@media screen and (min-width: 930px) {

  .entry ul {
    grid-template-columns: repeat(3, 1fr);
  }


  .entry li span.description {
    font-size: 1em;
  }


  body p {
    font-size: 1.4em;
  }

  
}

