
/*Fonts:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Antique Soft', serif;
*/


/*Color Scheme
    #2D3340 - Dk.Grey
    #6B826D - Green
    #BF7C63 - Lt.Brown
    #FF9D87 - Lt.Salmon
    #CCCCCC - Lt.Grey
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Utility Styles----------------- */
.container{
  margin: 40px auto;
}


/* ---------------Responsive Images----------------- */

img{
  max-width: 100%;
  height: auto;
}



/* ---------------Global Styles----------------- */

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  background-color: #2D3340;
  line-height: 1.4;
  color: #CCCCCC;
}



header {
  padding-top: 6vh;
  text-align: center;
  overflow-wrap: break-word;
}



.author{
  font-size: 3em;
  margin: 60px 0;
}




nav{
  margin: 3vh 0 6vh 0;
}


/*-----GRID STYLE-----*/

nav ul{
  display: grid;
  grid-gap: 5vw;
  padding: 5vw;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  overflow-wrap: break-word;
}



li{
  border-radius: 2px;
  border: 1px solid #cccc;
}



nav a{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  text-decoration: none;
}


nav li span{
  display: block;
}



nav li span.title{
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: 60px;
}


nav li span.description{
  font-size: 2em;
}



ul li a:link, 
ul li a:visited{
color: #f6f6f6;
/* background-color:rgba(); to customize opacity*/
padding: 8px 16px;
transition: .5s;
}


ul li a:hover,
ul li a:active{
border: 2px solid rgba(255,255,255);/*maybe change border only*/
background-color: #6B826D;
}



/*-----ADDITIONAL STYLES-----*/

.strike{
text-decoration: line-through;
}



/*

@media screen and (min-width: 730px){


}